{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}


<div class="form-group">
    <label class="bmd-label-floating">Contenu</label>
    <textarea class="form-control" {{ form_widget(form.contenu) }} 
    
    </textarea>
    <div class="form-group">
    {{ form_row(form.image, {'attr': {'class': 'form-control-file', 'id': 'fileInput'}}) }}
    <label for="fileInput" class="custom-file-label">Choisir un fichier</label>
    <div class="form-error">
        {{ form_errors(form.image) }}
    </div>
</div>

    <div class="form-error">
        {{ form_errors(form.contenu) }}
    </div>
</div>







{{ form_widget(form) }}

<button class="btn btn-primary" class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<!-- Ajout du bouton pour la page de chatbot avec la charte graphique -->
<a href="{{ path('app_chat') }}" class="btn btn-secondary" style="display: inline-block; padding: 10px 20px; background-color: #FFA500; color: #fff; text-decoration: none; border-radius: 5px; transition: background-color 0.3s ease; border: none; cursor: pointer;">Accéder au Chatbot</a>
