{% extends 'base-back.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block table %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ evenement.nom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ evenement.heure ? evenement.heure|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Dure</th>
                <td>{{ evenement.dure ? evenement.dure|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nbreparticipants</th>
                <td>{{ evenement.nbreparticipants }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ evenement.lieu }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ evenement.type }}</td>
            </tr>
            <tr>
                <th>Organisateur</th>
                <td>{{ evenement.organisateur }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ evenement.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evenement_index') }}">back to list</a>

    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">edit</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
